/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"); */

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #000;
}

.content-aside {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/login/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.75rem;
}

/* Contenedor Imagen */
.logo-login {
  display: flex;
  align-self: flex-start;
  width: min-content !important;
  padding: 1rem 2.5rem;
  margin: 2rem 0 4rem 0;
  background: #fff;
  border-radius: 3rem;
}

.logo-login img {
  height: 2.75rem;
}

.aside-text {
  width: 100%;
  max-width: 420px;
  color: #fff;
}

/* Formulario */
.content-form {
  overflow-y: scroll;
  background: #fff;
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.75rem;
}

.form-login {
  width: 100%;
  max-width: 420px;
  padding: 4rem 0;
}

.form-login > * {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-login .heading {
  gap: 0.75rem;
  color: #27272e;
}

.form-login a {
  text-decoration: none;
}

.login-input {
  gap: 0.5rem;
}

.form-login label {
  color: #425466;
}

.form-login input {
  border: none;
  background: #edf2f7;
  border-radius: 6px;
  padding: 0.75rem 1.5rem;
}
.form-login input::placeholder {
  color: #7a828a;
}

.forget {
  font-size: 0.688rem;
  color: #777e90;
  float: right;
}

.helper-text {
  font-size: 0.688rem;
  color: #777e90;
}

.checkbox-container {
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  font-size: 0.75rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input[type="checkbox"] {
  padding: 0;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  width: 20px;
  height: 20px;
  border: 2px solid #c9ced6;
  border-radius: 4px;
  display: grid;
  place-content: center;
  /* transform: translateY(-0.075em); */
}

.checkbox-container input[type="checkbox"]::before {
  background: #7a828a;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  content: "";
  width: 0.9rem;
  height: 0.9rem;
  transform: scale(0);
}

.checkbox-container input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.checkbox-container div,
a {
  a {
    font-weight: bold;
  }
  color: #425466;
}

/* Boton */
.form-login .btn-login {
  background-color: #141416;
  padding: 1rem 1.5rem;
  border-radius: 90px;
  color: #fcfcfd;
  text-decoration: none;
  text-align: center;
}

/* Botones redes ingreso */
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #718096; /* Color similar al de la imagen */
  font-size: 0.75rem;
}

.separator hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #edf2f7; /* Color de las líneas */
  margin: 0 10px;
}

.content-social {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}

.content-social div {
  border-radius: 50%;
  width: 3.25rem;
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Mensaje de Ingreso o Registro */
.label {
  text-align: center;
  font-size: 0.875rem;
  color: #718096;
}

.label a {
  font-weight: bold;
  color: #425466;
}
