.card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #b1b5c3;
  width: 100%;
  height: 380px;
  overflow: hidden;
}

.card .product-img {
  background: #b1b5c3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.card .product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .product-info {
  height: 50%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .product-info .product-title {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card .product-info .product-price {
  font-weight: bold;
  font-size: 1.6rem;
}
.card .product-info .product-points p {
  font-weight: bold;
}
.card .product-info .product-points span {
  color: #626264;
  font-weight: lighter;
}

.card .product-add {
  position: absolute;
  bottom: 2.8rem;
  right: 1rem;
  background: #353945;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .product-info > * {
  margin-bottom: 1.25rem;
}
